
@media (min-width: 600px) {

   .page-header__logo,
   .page-header__burger {
    display: none;
   }

   .header-social,
   .header-contacts__phone-desct,
   .header-contacts__email,
   .header-contacts__adress,
   .header-contacts__openig-hours,
   .block-desct {
    display: block;
   }

   .page-header {
    display: flex;
    flex-direction: row;
    padding: 2% 3%;
    border-bottom: 1px solid #e5e5e5;
   }

   .header-social {
    width: 30%;
   }

   .header-social__fb,
   .header-social__vk,
   .header-social__insta {
    display: inline-block;
    margin-right: 30px;
   }

   .header-social__fb {
    background-image: url(../img/header-social__fb.png);
    width: 7px;
    height: 13px;
   }

   .header-social__vk {
    background-image: url(../img/header-social__vk.png);
    width: 14px;
    height: 8px;
   }

   .header-social__insta {
    background-image: url(../img/header-social__insta.png);
    width: 12px;
    height: 12px;
   }

   .header-contacts {
    display: flex;
    width: 70%;
    margin: 0;
   }

   .header-contacts__phone,
   .header-contacts__email,
   .header-contacts__adress,
   .header-contacts__openig-hours {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    background-image: none;
    width: 25%;
    text-decoration: none;
    color: #000;
   }

   .header-contacts__phone-desct {
    display: inline-block;
    align-self: center;
    font-size: 14px;
   }

   .header-contacts__phone-icon {
    display: inline-block;
    background-image: url(../img/header-contacts__phone-desct.png);
    width: 12px;
    height: 12px;
    margin: 5px;
   }

   .header-contacts__email-icon {
    display: inline-block;
    background-image: url(../img/header-contacts__email.png);
    width: 13px;
    height: 8px;
    margin: 5px;
   }

   .header-contacts__adress-icon {
    display: inline-block;
    background-image: url(../img/header-contacts__adress.png);
    width: 9px;
    height: 12px;
    margin: 2px;
   }

   .header-contacts__openig-hours-icon {
    display: inline-block;
    background-image: url(../img/header-contacts__openig-hours.png);
    width: 12px;
    height: 12px;
    margin: 2px;
   }

   .promo {
    padding: 3%;
   }

   .block-desct {
    display: flex;
    justify-content: space-between;
   }

   .promo__wrap {
    display: flex;
    flex-direction: row;
   }

   .promo__order {
    display: flex;
    align-items: center;
    width: 40px;
    text-decoration: none;
   }

   .promo__order-amount {
    font-size: 16px;
   }

   .promo__order-img {
    width: 17px;
    height: 17px;
    margin-left: 10px;
   }

   .promo__search {
    display: flex;
    align-items: center;
    width: 16px;
    margin-left: 40px;
   }

   .promo__search-img {
    width: 16px;
    height: 16px;
   }






}
